@model EDIS.Areas.BMED.Models.RepairModels.RepairModel

@{
    ViewBag.Title = "預覽請修";
}
<h4>申請資料</h4>
<div>
    @Html.HiddenFor(model => model.DocId)
    <div class="container">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DocId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DocId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DptId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DptName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ext)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ext)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccDpt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccDpt)
                </dd>
            </dl>

        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RepType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RepType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssetNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantDoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantDoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amt)
                </dd>
            </dl>

        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AssetAccDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetAccDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlaceLoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlaceLoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplyDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CheckerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CheckerName)
                </dd>
            </dl>
        </div>

        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TroubleDes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TroubleDes)
                </dd>
            </dl>
        </div>

    </div>
</div>
