@model EDIS.Areas.BMED.Models.KeepModels.QryKeepListData
@using EDIS.Models.Identity

@inject CustomUserManager UserManager
<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>

<style>
    /* Style the scale of radio. */
    input[type=radio] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
    /* Style the scale of checkbox. */
    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FireFox */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.BMEDKeepCombobox').combobox();
        /* Only first visit the page, will submit the form. */
        var count = 0;
        $('.nav-tabs a[href="#menu2"]').on('shown.bs.tab', function (event) {
            if (count == 0) {
                $("#BMEDkeepSearchForm").submit();
                count++;
            };
        });

        $("#BMEDkeepExportExcelBtn").click(function () {
            var DocId = $("#BMEDKqtyDOCID").val();
            var AssetNo = $("#BMEDKqtyASSETNO").val();
            var AccDpt = $("#BMEDKqtyACCDPT").val();
            var AssetName = $("#BMEDKqtyASSETNAME").val();
            var FlowType = $("#BMEDKqtyFLOWTYPE").val();
            var DptId = $("#BMEDKqtyDPTID").val();;
            var Date1 = $("#BMEDKqtyApplyDateFrom").val();
            var Date2 = $("#BMEDKqtyApplyDateTo").val();
            var DealStatus = $("#BMEDKqtyDealStatus").val();
            var IsCharged = $("#BMEDKqtyIsCharged").val();
            var DateType = $("#BMEDKqtyDateType").val();
            var SearchAllDoc = false;
            if ($("#BMEDKqtySearchAllDoc").is(':checked') == true) {
                SearchAllDoc = true;
            }

            $.ajax({
                url: "@Url.Action("ExportToExcel", "Keep", new { Area = "BMED" })",
                data: {
                    qtyDocId: DocId,
                    qtyAssetNo: AssetNo,
                    qtyAccDpt: AccDpt,
                    qtyAssetName: AssetName,
                    qtyFlowType: FlowType,
                    qtyDptId: DptId,
                    Date1: Date1,
                    Date2: Date2,
                    DealStatus: DealStatus,
                    IsCharged: IsCharged,
                    DateType: DateType,
                    SearchAllDoc: SearchAllDoc
                },
                success: function (response, textStatus, jqXHR) {

                    window.location.href = '@Url.Action("ExportToExcel", "Keep", new { Area = "BMED" })' + '?qtyDocId=' + DocId + '&qtyAssetNo=' + AssetNo
                        + '&qtyAccDpt=' + AccDpt + '&qtyAssetName=' + AssetName + '&qtyFlowType=' + FlowType + '&qtyDptId=' + DptId
                        + '&Date1=' + Date1 + '&Date2=' + Date2 + '&DealStatus=' + DealStatus + '&IsCharged=' + IsCharged
                        + '&DateType=' + DateType + '&SearchAllDoc=' + SearchAllDoc;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });
    function BMEDKeepReSubmit() {
        $("#BMEDkeepSearchForm").submit();
        /* Refresh keep count. */
        $.ajax({
            url: '@Url.Action("GetKeepCounts", "Keep", new { Area = "BMED" })',
            type: "GET",
            success: function (data) {
                $("#BMEDkeepCount").html(data);
            }
        });
    }
</script>

<form asp-controller="Keep" asp-action="Index" asp-area="BMED" data-ajax="true"
      data-ajax-update="#BMEDpnlKEEPLIST" data-ajax-method="POST" id="BMEDkeepSearchForm"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-complete="$.Toast.hideToast()">

    <h4>查詢條件 - 個人案件</h4>

    <div class="container">
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDKqtyDOCID" class="control-title">表單編號</label>
                    <input asp-for="BMEDKqtyDOCID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDKqtyASSETNO" class="control-title">財產編號</label>
                    <input asp-for="BMEDKqtyASSETNO" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="BMEDKqtyACCDPT" class="control-title">成本中心</label>
                    <select asp-for="BMEDKqtyACCDPT" asp-items="@ViewData["BMEDKeepAccDpt"] as SelectList" class="form-control BMEDKeepCombobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDKqtyASSETNAME" class="control-title">儀器名稱<br />(關鍵字)</label>
                    <input asp-for="BMEDKqtyASSETNAME" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDKqtyFLOWTYPE" class="control-title">流程狀態</label>
                    <select asp-for="BMEDKqtyFLOWTYPE" asp-items="@ViewData["BMEDKeepFlowType"] as SelectList" class="form-control-s"></select>
                </div>
                <div class="form-group">
                    <label for="BMEDKqtyDPTID" class="control-title">申請部門</label>
                    <select asp-for="BMEDKqtyDPTID" asp-items="@ViewData["BMEDKeepApplyDpt"] as SelectList" class="form-control BMEDKeepCombobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDKqtyKeepResult" class="control-title">保養狀態</label>
                    <select asp-for="BMEDKqtyKeepResult" asp-items="@ViewData["BMEDKeepResult"] as SelectList" class="form-control">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <label for="BMEDKqtyIsCharged" class="control-title">[有][無]費用</label>
                <select asp-for="BMEDKqtyIsCharged" asp-items="@ViewData["BMEDIsCharged"] as SelectList" class="form-control-s">
                    <option value="">請選擇</option>
                </select>
                <div class="form-group">
                    <label for="BMEDKqtyEngCode" class="control-title">負責工程師</label>
                    <select asp-for="BMEDKqtyEngCode" asp-items="@ViewData["BMEDEngs"] as SelectList" class="form-control BMEDcombobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDKqtyTicketNo" class="control-title">發票號碼</label>
                    <input asp-for="BMEDKqtyTicketNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDKqtyVendor" class="control-title">廠商(關鍵字)</label>
                    <input asp-for="BMEDKqtyVendor" class="form-control-s" />
                </div>
                @if (UserManager.IsInRole(User, "MedEngineer") == true) /* Only MedEngineer can search all engineer docs. */
                {
                    <div class="form-group">
                        <label class="control-title">查詢其他<br />工程師案件</label>
                        <input type="checkbox" asp-for="BMEDKqtySearchAllDoc" style="margin: 7px 0px 0px 7px;" />
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyApplyDateFrom" class="control-title">日期查詢</label>
                    <span>
                        <select asp-for="BMEDKqtyDateType" asp-items="@ViewData["BMEDKeepDateType"] as SelectList" class="form-control-s"></select>
                    </span>
                    <input asp-for="BMEDKqtyApplyDateFrom" class="form-control" />
                    <span> ~ </span>
                    <input asp-for="BMEDKqtyApplyDateTo" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group col-md-offset-1 col-md-1">
                    <div>
                        <input id="BMEDbtnQTY" type="submit" value="查詢" class="btn btn-default btn-group-justified" />
                    </div>
                </div>
                @*<div class="form-group">
                    <div>
                        <input type="button" class="btn btn-primary" id="BMEDkeepExportExcelBtn" value="匯出Excel" />
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</form>

<div id="BMEDpnlKEEPLIST"></div>
