@model EDIS.Areas.BMED.Models.RepairModels.QryRepListData

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewData["Title"] = "請修單查詢";
}

<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.combobox').combobox();
        /* While loading this page, default search repairDocs. */
        //$("#repSearchForm").submit();
    });
</script>

<h3>請修單查詢 - 全院</h3>
<h4>醫療儀器</h4>
<hr />

<form asp-controller="Search" asp-action="GetRepQryList" asp-area="BMED" data-ajax="true"
      data-ajax-update="#pnlREPLIST" data-ajax-method="POST" id="repSearchForm"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-complete="$.Toast.hideToast()">

    <h4>查詢條件 - 全院案件</h4>

    <div class="container">
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyDOCID" class="control-title">表單編號</label>
                    <input asp-for="BMEDqtyDOCID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyASSETNO" class="control-title">財產編號</label>
                    <input asp-for="BMEDqtyASSETNO" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyACCDPT" class="control-title">成本中心</label>
                    <select asp-for="BMEDqtyACCDPT" asp-items="@ViewData["ACCDPT"] as SelectList" class="form-control combobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyASSETNAME" class="control-title">儀器名稱<br />(關鍵字)</label>
                    <input asp-for="BMEDqtyASSETNAME" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyFLOWTYPE" class="control-title">流程狀態</label>
                    <select asp-for="BMEDqtyFLOWTYPE" asp-items="@ViewData["FLOWTYPE"] as SelectList" class="form-control-s">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BMEDqtyDPTID" class="control-title">申請部門</label>
                    <select asp-for="BMEDqtyDPTID" asp-items="@ViewData["APPLYDPT"] as SelectList" class="form-control combobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyDealStatus" class="control-title">處理狀態</label>
                    <select asp-for="BMEDqtyDealStatus" asp-items="@ViewData["DealStatus"] as SelectList" class="form-control">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <label for="BMEDqtyIsCharged" class="control-title">[有][無]費用</label>
                <select asp-for="BMEDqtyIsCharged" asp-items="@ViewData["IsCharged"] as SelectList" class="form-control-s">
                    <option value="">請選擇</option>
                </select>
                <div class="form-group">
                    <label for="BMEDqtyEngCode" class="control-title">負責工程師</label>
                    <select asp-for="BMEDqtyEngCode" asp-items="@ViewData["BMEDEngs"] as SelectList" class="form-control combobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyTicketNo" class="control-title">發票號碼</label>
                    <input asp-for="BMEDqtyTicketNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyVendor" class="control-title">廠商(關鍵字)</label>
                    <input asp-for="BMEDqtyVendor" class="form-control-s" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyApplyDateFrom" class="control-title">日期查詢</label>
                    <span>
                        <select asp-for="BMEDqtyDateType" asp-items="@ViewData["DateType"] as SelectList" class="form-control-s"></select>
                    </span>
                    <input asp-for="BMEDqtyApplyDateFrom" class="form-control" />
                    <span> ~ </span>
                    <input asp-for="BMEDqtyApplyDateTo" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <div style="margin-left:115px">
                        <input id="btnQTY" type="submit" value="查詢" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="pnlREPLIST"></div>
